* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bold_M";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold_M";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Medium_M";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Regular_M";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light_M";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Light.ttf") format("truetype");
}

/* -----  */
@font-face {
  font-family: "Bold_W";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold_W";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Medium_W";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Regular_W";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light_W";
  src: url("/src/assets/Fonts/Be/BeVietnamPro-Light.ttf") format("truetype");
}

/* ----  */
body {
  font-family: "Regular_M";
  max-width: 1600px;
  margin: auto;
}

.MuiTypography-root,
.MuiButtonBase-root {
  font-family: "Regular_M";
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: #f57f17;
  --secondary: #f57f17;
  --newprimary: #1F2026;
  --grey: #717680;
  --greyDark: #535862;
  --greyText: #a4a7ae;
  --white: #fff;
  --title: #181d27;
  --inputLabel: #414651;
  --buttonPrimary: #f57f17;
  --buttonSecondary: #3489c3;
  --borderColor: #d5d7da;
  --sidebarBack: #414651;
  --borderColorOne: #e9eaeb;
  --tooglecolor: #667085;
  --toogleHover: #f0f0f0;
  --toogleBackground: #e5e7eb;
  --approvedGreen: #ecfdf3;
  --approvedBorder: #abefc6;
  --approvedFont: #067647;
  --reviewYellow: #fffaeb;
  --reviewBorder: #fedf89;
  --reviewFont: #f79009;
  --rejectedRed: #fef3f2;
  --rejectedFont: #b42318;
  --rejectedBorder: #fecdca;
  --revertedGrey: #e5e7eb;
  --revertedBorder: #d1d5db;
  --revertedFont: #4b5563;
  --onholdOrange: #fffaeb;
  --onholdBorder: #fedf89;
  --onholdFont: #b54708;
  --borderpendingColor: #e4e7ec;
  --grey1: #475467;
  --darkBlue: #101828;
  --greyTwo: #e4e4e4;
  --blueHeader: #E5EFF9;
  --btnbghold: #dc6803;
  --btnbgapprove: #079455;
  --btnbgreject: #d92d20;
  --red: red;
  --webback: #f7f7f8;
  --webprimary: #f57f17;
  --websecondary: #1f2026f2;
  --weblight: #FFF4E5;
  --webgrey: #f9f9f9;
}

/* Scroll Bar Color Change */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--buttonPrimary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

/* Tooltip  */
.MuiTooltip-popper {
  z-index: 9999999999 !important;
}

/* Input Arrow Hide  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Table  */
.table_border {
  border: none !important;
}

.table_border .css-yrdy0g-MuiDataGrid-columnHeaderRow {
  border: solid 1px #e5e7eb;
}

.table_border .MuiDataGrid-row {
  border-left: solid 1px #e5e7eb;
  border-right: solid 1px #e5e7eb;
  border-bottom: solid 1px #e5e7eb;
}


/* Submitted Form  */
.Submitted_form_table {
  .MuiDataGrid-menuIcon {
    display: none !important;
  }

  .MuiDataGrid-columnSeparator {
    display: none !important;
  }

  .MuiDataGrid-columnHeaderTitle {
    font-family: "Regular_M";
    font-size: 13px;
    font-weight: 600;
  }

  .MuiDataGrid-row--borderBottom {
    background-color: #F9F9F9 !important;
  }

  .MuiDataGrid-row {
    background-color: var(--white);
    font-family: "Regular_M";
    font-size: 12px;
    color: #1A1A1A;
    font-weight: 500;
    height: 45px !important;
    min-height: 45px !important;
  }

  .MuiDataGrid-cell {
    outline: none !important;
  }

  .MuiDataGrid-columnHeader,
  .MuiDataGrid-filler {
    outline: none !important;
    background: var(--newprimary) !important;
    color: var(--white) !important;
  }

  .MuiDataGrid-columnHeaders {
    .MuiDataGrid-row--borderBottom {
      height: 45px !important;
    }
  }

  .MuiDataGrid-withBorderColor {
    border: none !important;
  }
}


/* loader  */

/* Loader  */
.splash-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 1300;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: var(--primary);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}